[heater_bed]
# default ender 3 bed
heater_pin=PD4
sensor_pin=PA6
control=pid
min_temp=0
max_temp=120  # yourDroid 24V 220W supports up to 190
sensor_type=EPCOS 100K B57560G104F
# 80C yourDroid Heating Mat 24 V 220 W on 5mm aluminium table
max_power: 0.65  # for electrical, thermal, and control reasons. can increase to 0.7 with ferrules, to 0.8-1 with external mosfetp
pid_Kp=41.361
pid_Ki=1.010
pid_Kd=423.435

[bed_screws]
screw1: 30, 31
screw2: 30, 201
screw3: 200, 201
screw4: 200, 31
