[display_status]

[virtual_sdcard]
path: ~/data/gcodes

[pause_resume]

[idle_timeout]
gcode:
  # the default would cool the hotend part-way through an M600 and end the print
  {% if not printer.pause_resume.is_paused %}
    TURN_OFF_HEATERS
    M84
  {% endif %}

[exclude_object]
